<ion-header>
  <ion-toolbar>
    <ion-title style="color: black; font-size: 18px;">
      <p style="font-size: 18px;">Pobednički tim: {{ winningTeam }}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div [ngClass]="{
            'winner': winningTeam === game.home.name,
            'loser': winningTeam !== game.home.name && winningTeam !== 'Nerešeno'
          }">
          <h2 style="margin-left: 5px;">Domaci tim: {{game.home.name}}</h2>
        </div>
        <ion-list>
          <ion-item *ngFor="let player of playersHome">
            <ion-label>
              <h2>#{{player.number}} {{ player.name }} {{ player.surname }}</h2>

              <div class="stats">
                <div>
                  <p style="font-size: 17px;color: black;">Sut za (1P): {{ player.stats?.onePM ?? 0 }}/{{ (player.stats?.onePA ?? 0) + (player.stats?.onePM ?? 0) }}</p>
                  <p style="font-size: 17px;color: black;">Sut za (2P): {{ player.stats?.twoPM ?? 0 }}/{{ (player.stats?.twoPM ?? 0) + (player.stats?.twoPA ?? 0) }}</p>
                </div>
                <div>
                  <p style="font-size: 17px;color: black;">Faulovi: {{ player.stats?.fauls ?  player.stats?.fauls : 0}}</p>
                  <p style="font-size: 17px;color: black;">Asistencije: {{ player.stats?.assists ?  player.stats?.fauls : 0}}</p>
                </div>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div [ngClass]="{
            'winner': winningTeam === game.guest.name,
            'loser': winningTeam !== game.guest.name && winningTeam !== 'Nerešeno'
          }">
          <h2 style="margin-left: 5px;">Gostujuci tim: {{game.guest.name}}</h2>
        </div>
        <ion-list>
          <ion-item *ngFor="let player of playersGuest">
            <ion-label>
              <h2>#{{player.number}} {{ player.name }} {{ player.surname }}</h2>
              <div class="stats">
                <div>
                  <p style="font-size: 17px;color: black;">Sut za (1P): {{ player.stats?.onePM ?? 0 }}/{{ (player.stats?.onePA ?? 0) + (player.stats?.onePM ?? 0) }}</p>
                  <p style="font-size: 17px;color: black;">Sut za (2P): {{ player.stats?.twoPM ?? 0 }}/{{ (player.stats?.twoPM ?? 0) + (player.stats?.twoPA ?? 0) }}</p>
                </div>
                <div>
                  <p style="font-size: 17px;color: black;">Faulovi: {{ player.stats?.fauls ?  player.stats?.fauls: 0}}</p>
                  <p style="font-size: 17px;color: black;">Asistencije: {{ player.stats?.assists ?  player.stats?.fauls: 0}}</p>
                </div>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="goHome()">Povratak na početnu</ion-button>
</ion-content>

