:root{
  --ion-color-light: #ffffff;
	
}

ion-toolbar{
    --background: #ffff
}

.custom-header {
  background-color: #ffff; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-right {
  margin-right: 20px; 
  font-size: 22px;
  color: black;
}

img{
  height: 45px;
  width: 95px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 5px;
}

ion-title {
  margin-left: 10px;
}

strong{
  font-size: 35px;
  line-height: 35px;
  color: black;
}

.player {
  display: flex;
  background-color: #a59f9f;
  justify-content: space-between; 
  align-items: center; 
  width:250px;
  border-radius: .5em;
  margin-bottom: 7px;
  margin-top: 7px;
  margin-left: 90px;
}
.componennts p{
    font-size: 20px;
}

.number {
  width: 50px;
}

.name, .surname {
  flex-grow: 1; 
}


.components {
  text-align: center;
}


:root{
  --ion-color-light: #ffffff;
	
}

ion-toolbar{
    --background: #ffff
}

ion-checkbox {
  --size: 30px;
  padding: 0;
  margin: 0 10px 0 0;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;  
  padding: 0; 
  margin: 0; 
}

.custom-header {
  background-color: #ffff; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-right {
  margin-right: 20px; 
  font-size: 22px;
  color: black;
}

img{
  height: 45px;
  width: 95px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 5px;
}

ion-title {
  margin-left: 10px;
}

strong{
  font-size: 35px;
  line-height: 35px;
  color: black;
}
ion-content{
  --background: #ffff;
}

ion-list{
  --background: #ffff;
}

ion-item {
  --background: #ffff;
  color: black;
  font-size: 22px;
  --border-color: transparent;
}

ion-header{
    --background: #ffff;
}

ion-label {
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: black;
  background-color: #ffff;
}

ion-input {
  padding-top: 10px;
  margin-top: 10px;
  font-size: 24px;
}

ion-button {
  font-size: 24px;

}

.welcome{
  margin-top: 170px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
