<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-right">Domaći: {{home.name}}</ion-title>
    <!-- <ion-buttons slot="end">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/FIBA-3x3-Logo-black.jpg" alt="3x3" class="small-image">
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)="logOut()"> Izloguj se</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let player of playersHome">
  <label class="checkbox-wrapper">
    <ion-checkbox slot="start" [(ngModel)]="player.selected" (ionChange)="onPlayerSelectionChange()"></ion-checkbox>
  </label>
  <div class="player">
    <div class="components number"><p>#{{ player.number }}</p></div>
    <div class="components name"><p>{{ player.name }}</p></div>
    <div class="components surname"><p>{{ player.surname }}</p></div>
  </div>
</ion-item>

  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button 
        expand="block" 
        color="primary" 
        [disabled]="!isSelectionValid" 
        (click)="confirmSelection()">
        Potvrdi izbor
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
