.button-grid {
  display: flex;
  flex-wrap: wrap;
}

ion-row {
  display: flex;
  width: 100%;
  justify-content: space-around; 
}

ion-col {
  flex: 1;
  display: flex;
  justify-content: center; 
}

ion-button {
  flex: 1;
  max-width: 200px; 
  height: 40px; 
  margin: 5px; 
  text-align: center;
  font-size: 18px;
}

ion-toolbar{
    --background: #fff;
}


ion-content{
    --background: #fff;
}
