<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="title-right">Timovi</ion-title>

    <!-- <ion-buttons slot="end">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/FIBA-3x3-Logo-black.jpg" alt="3x3" class="small-image">
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)="logOut()"> Izloguj se</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="welcome">
    <strong style="margin: 10px;">Unesite imena timova koji igraju</strong>
  </div>
  <form (ngSubmit)="onAddTeams()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Izaberite domaći tim:</ion-label>
            <ion-select [(ngModel)]="homeTeam" name="homeTeam" required>
              <ion-select-option *ngFor="let team of activeTeams" [value]="team">{{ team.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Izaberite gostujući tim:</ion-label>
            <ion-select [(ngModel)]="guestTeam" name="guestTeam" required>
              <ion-select-option *ngFor="let team of activeTeams" [value]="team">{{ team.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid || homeTeam === guestTeam"
          >
            Sačuvaj timove
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
