<ion-content class="ion-text-center">
  <div class="welcome">
    <strong class="custom-class">Dobrodošli na turnir</strong>
  </div>
  <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/FIBA-3x3-Logo-black.jpg" alt="3x3" class="centered-image">
  <form (ngSubmit)="onAddGame()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Unesite kod utakmice</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="gameCode"
              name="gameCode"
              required
              minlength="6"
            ></ion-input>
          </ion-item>
          <div *ngIf="f.submitted && f.controls['gameCode']?.errors?.['minlength']">
            <p class="error-message">Kod utakmice mora imati najmanje 6 znakova.</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid"
          >
            Započni
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-button (onClick)="logOut()">Izloguj se</ion-button>
</ion-content>
