// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

// .center-text {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }


// .center-text {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 50%;
//   text-align: center;
// }

// .center-text strong{
//   font-size: 35px;
//   line-height: 35px;
// }


// .center-content {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }

// .centered-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .centered-text {
//   margin-bottom: 20px;
//   font-size: 24px;
// }

// .centered-text strong{
//   font-size: 35px;
//   line-height: 35px;
// }

// .centered-image {
//   max-width: 100%;
//   height: auto;
//   margin-bottom: 20px;
// }

:root{
  --ion-color-light: #ffffff;
	
}


img{
  height: 200px;
}

strong{
  font-size: 35px;
  line-height: 35px;
  color: black;
}
ion-content{
  --background: #ffff;
}

ion-item {
  margin-bottom: 15px;
  --background: #ffff;
  color: black;
  font-size: 22px;
}

ion-label {
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: black;
  background-color: #ffff;
}

ion-input {
  padding-top: 10px;
  margin-top: 10px;
  font-size: 24px;
}

ion-button {
  font-size: 24px;

}

.welcome{
  margin-top: 230px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

